.header__btn {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .header__btn {
        font-size: 14px;
    }
    .header__btn_type_logout {
        margin: 18px 0 0;
        text-align: center;
    }
}