.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    background-color: black;
    background-image: url(../../../images/pluss.svg);
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid white 1px;
    cursor: pointer;
    box-sizing: border-box;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 680px) {
    .profile__add-button {
        min-width: 282px;
        max-height: 50px;
        background-size: 16px 16px;
    }
}