.sign__btn-submit {
    width: 358px;
    height: 50px;
    left: 461px;
    top: 558px;
    background: #FFFFFF;
    border-radius: 2px;
    color:  #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 216px;
    /* margin: 216px auto 10px; */
    margin: 182px auto 12px;
    padding: 0;
    cursor: pointer;
}

.sign__btn-submit:disabled {
    background-color: transparent;
    color: white;
}