.elements__cards {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    column-gap: 17px;
    row-gap: 19px;
    margin: 47px auto 66px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 917px) {
    .elements__cards {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 610px) {
    .elements__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 36px auto 50px;
    }
}