.header {
    border-bottom: 1px solid rgba(84,84,84,.7);
    margin: 0 auto 40px;
    max-width: 880px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 927px) {
    .header {
        max-width: 100%;
        margin: 25px auto 38.25px;
        padding-bottom: 31.6px;
    }
}