.popup__field {
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
    background-color: white;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #212529;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: none;
}
